.project-form-section {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.429);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  overflow: auto;
}

.project-form-container {
  background-color: var(--clr-primary-white);
  width: 70%;
  /* height: 80%; */
  padding: 3rem;
  border-radius: 1rem;
}

.project-form-container .top-container .close-modal-btn {
  font-size: 2.3rem;
}

.top-container .delete-btn {
  background-color: rgb(215, 65, 65);
  color: var(--clr-primary-white);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  height: fit-content;
}

.top-container .delete-btn:hover {
  background-color: rgb(133, 23, 23);
  color: var(--clr-primary-white);
}

.top-container > span {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form span {
  display: grid;
}

.form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form span label {
  text-transform: uppercase;
  color: var(--clr-grey-300);
}

.form input,
.form textarea,
.form select {
  width: 100%;
  background-color: #ebebeb;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  margin: 0.3rem 0;
}

textarea {
  min-height: 6rem;
  resize: vertical;
}

.form button {
  width: 100%;
  text-align: center;
  background-color: var(--clr-primary-purple);
  color: var(--clr-primary-white);
  padding: 0.5rem 0;
  border-radius: 0.6rem;
  transition: 100ms ease-in-out;
}

.form button:hover {
  background-color: var(--clr-primary-purple-dark);
}

.modal-show {
  display: grid;
}
.modal-hide {
  display: none;
}

.user-list {
  box-shadow: var(--box-shadow);
  display: grid;
  /* border-radius: 1rem; */
  min-height: 10rem;
  padding: 0.7rem;
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
}

.user-table-header {
  padding: 0 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 22% 22% 22% 22% 12%;
  color: var(--clr-grey-300);
}

.user-table-header *:nth-child(5) {
  text-align: center;
}

.user-row {
  padding: 0 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 22% 22% 22% 22% 12%;
  cursor: pointer;
}

.user-row *:nth-child(5) {
  text-align: center;
}

.user-row:hover {
  background-color: var(--clr-grey-100);
}

.user-row button {
  all: unset;
}

.user-row button:hover {
  background-color: transparent;
  color: var(--clr-primary-purple);
}

.users-to-add-list {
  background-color: var(--clr-grey-200);
  padding: 1rem;
  border-radius: 1rem;
  display: flex !important;
  justify-content: none;
  gap: 1rem;
  flex-wrap: wrap;
}

.users-to-add-list span {
  width: fit-content;
  background-color: var(--clr-primary-purple);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  color: var(--clr-primary-white);
  cursor: pointer;
  transition: ease-in-out 250ms;
}

.users-to-add-list span:hover {
  background-color: rgb(110, 11, 11);
}

.users-to-add-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: none;
}

.users-to-add-container p {
  margin: 0;
  text-transform: uppercase;
  color: var(--clr-grey-300);
}

.add-users-btn {
  background-color: #0e8c53 !important;
  text-transform: uppercase;
}

.add-users-btn:hover {
  background-color: #057b05 !important;
}
