.tasks-section {
  display: grid;
  grid-template-areas:
    'a a a a a a a a'
    'b b b c c c c c';
  gap: 1rem;
}

.tasks-section .top-container {
  grid-area: a;
}

.tasks-container {
  grid-area: b;
}

.members-container {
  grid-area: c;
}

.members {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.tasks-container .top-container {
  border: none;
  margin-bottom: 1rem;
}

.user-icon {
  font-size: 1.2em;
}

.user {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: 1rem;
}
