.tasks-section {
  display: grid;
  grid-template-areas:
    'a a a a a a'
    'b b b b c c';
  gap: 1rem;
}

.tasks-section .top-container {
  grid-area: a;
}

.tasks-container {
  grid-area: b;
}

.members-container {
  grid-area: c;
}

.tasks-container .top-container {
  border: none;
  margin-bottom: 1rem;
}
